<html>
<div>
	<p>Hi @order.user.name,</p>
	<p>Thanks for using J-Medss. Your order no @order.id was cancelled by you. Incase this is an error, please contact our customer care at 09009108208 for further assistance.
	</p>
	<p>Feel Better,<br/>
	Team J-Medss</p>
</div>
</html>
