<html>
<div>
	<p>Hi @order.user.name,</p>
	<p>Thanks for using J-Medss. Your order no @order.id has been delivered by our Partner Retailer. Go ahead and set a reminder to take these medicines in the "Dosage Reminders" section of our app. For any concerns with this order, please write in to care@pharmeasy.in within the next 7 days. 
	</p>
	<p>Feel Better,<br/>
	Team J-Medss</p>
</div>
</html>
