<html>
<div>
	<p>Hi @order.user.name,</p>
	<p>Thanks for using J-Medss. Our Partner Retailer tried to reach you on Customer’s @order.user.phone but could not confirm the order. We will try contact you again soon or you can reach us at 9009108208. 
	</p>
	<p>Feel Better,<br/>
	Team J-Medss</p>
</div>
</html>
