<style>
table, td, th {
    border: 1px solid black;
    text-align:center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th{
  background: #66cccc;
  color:white;
}

td{
  background: rgba(1,0,0,0.1);
}
</style>

  <h1 style="text-align:center;"> Welcome to Little Infinity</h1>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
 <h3 style="text-align:center;">Quicklinks</h3>
	<div class="col-md-12">
      <table>
        <thead>
          <tr>
            <th>Products </th>
            <th>Companies </th>
            <th>Categories </th>
            <th>Users </th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td><%= link_to "Products" , products_path %></td>
              <td><%= link_to "Companies" , companies_path %></td>
              <td><%= link_to "Categories" , categories_path %></td>
              <td><%= link_to "Users" , users_path %></td>
            </tr>
        </tbody>
      </table>
    </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
 <h6 style="text-align:center;"> coyright policy - product owned by Apoorv Goyal </h6>


